#### Q1. How do you comment code in Python? What are the different types of comments?

we use # symbol to make a comment in python.
There are two types of comments in python;
(i)Single line Comment
(ii)Multi-line Comment

#### (i)Single-line comment:

                  To add a single line we use hash (#) character.The text followed by # is known as comment in python and which is used to refer its followng code.
#### ex:

In [2]:
# this is a single line comment
print("hello")

hello

#### (ii)Multi-line Comments:

                  To add many lines or multiple lines of text we enclose the text by ''' Multi-lines of text '''
                                                 (or)
                     """ Here we have multiple lines in this """
#### ex:

In [3]:
""" This type of comment is also known as a docstring, and it is often used to document functions, classes, or modules.
    This is known as multi lined comment.
"""
print("i am teja")

i am teja

#### Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are used to store data values that can be accessed and manipulated throughout a program.A variable holds a value, and it can be assigned a different value at any time during the programs execut
#### Syntax :
             variable_name= value
#### Ex :

In [4]:
name = "teja"
age =19
height =5.5
print(name)
print(age)
print(height)

teja
19
5.5

#### Q3. How do you convert one data type to another in Python?

We can convert one data type to the other data type in python using the type conversions.
Here are some commonly used conversion.

#### 1.Int() :Converts a value to an integer.
#### Ex:

In [5]:
x=5.6
y=int(x)
print(y)

5

#### 2.float() :converts a value to float.
#### Ex:

In [6]:
x=10
y=float(x)
print(y)

10.0

#### 3.string() : converts a value to string.
#### Ex :

In [7]:
x=42
y=str(x)
print(y)

42

#### 4.bool() : converts a value to boolean.
#### Ex :

In [8]:
y=0
x=bool(y)
print(x)

False

#### 5.list() : Converts an iterable object to a list.
#### Ex:

In [9]:
x=(1,2,3)
y=list(x)
print(y)

[1, 2, 3]

#### 6.tuple() : converts an iterable object to tuple.
#### Ex :

In [10]:
a=[1,4,5]
b=tuple(a)
print(b)

(1, 4, 5)

#### 7.Set() : Convert san iterable object to a set.
#### Ex :

In [11]:
a=[2,3,5,1,4]
b=set(a)
print(b)

{1, 2, 3, 4, 5}

#### 8. Dict : converts sequence of key-value pairs to a dictionary.
#### EX:

In [12]:
x=[("a",1),("b",2)]
y=dict(x)
print(y)

{'a': 1, 'b': 2}

#### Q4. How do you write and execute a Python script from the command line?

To write and execute a Python script from the command line, we follow these steps:

1.Open a text editor and create a new file. For example, you can use a text editor like Notepad, Sublime Text, or Visual Studio   Code.

2.Write your Python code in the text file. For example, let's say you want to print "Hello, World!" as your script. You can       write the following code:

  Ex : print("Hello, World!")

3.Save the file with a .py extension. For example, you can save the file as hello.py.

4.Open the command prompt or terminal on your operating system.

5.Navigate to the directory where you saved your Python script. You can use the cd command (Change Directory) to navigate to the   desired directory.

6.Once you are in the correct directory, you can execute the Python script by typing python followed by the name of your script   file. In this case, you would enter the following command:

7.Press the Enter/Return key to execute the command. The Python script will run, and you should see the output.

#### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [13]:
my_list=[1,2,3,4,5]
sub_list=my_list[1:3]
print(sub_list)

[2, 3]

#### Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number that comprises both a real part and an imaginary part. It is expressed in the form a + bi, where a represents the real part, b represents the imaginary part, and i represents the imaginary unit (âˆš(-1)). The real part and the imaginary part can be any real numbers.

In Python, complex numbers are built-in data types, and you can perform arithmetic operations on them. In Python, the imaginary unit i is represented by j. To define a complex number, you can use the following syntax:

z = a + bj

example:

In [14]:
#### Define a complex number
z = 3 + 2j
#### Access the real and imaginary parts
real_part = z.real
imaginary_part = z.imag

print("Real part:", real_part)
print("Imaginary part:", imaginary_part)

Real part: 3.0
Imaginary part: 2.0

#### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [15]:
age=25
print(age)

25

#### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [16]:
price=9.99
# the variable is of float data type.
type(price)

float

#### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [17]:
name="vangimalla Tejaswini"
#we can print the value of above variable using print() fumction.
print(name)

vangimalla Tejaswini

#### Q10. Given the string "Hello, World!", extract the substring "World".

In [18]:
given = "Hello, World!"
given[7:12]

'World'

#### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you arecurrently a student or not.

In [19]:
is_student = True